$color1: #041C32;
$color2: #04293A;
$color3: #064663;
$color4: #ECB365;
$color5: #146C94;

.li-list {
  .navLink {
    position: relative;

    &:hover {
      &::after {
        position: absolute;
        content: " ";
        width: 100%;
        height: 1.5px;
        background-color: $color1;
        bottom: -5px;
        left: 0;
        animation: showLine .3s linear;
      }
      @keyframes showLine {
        0%{
          width: 0%;
        }
        100%{
          width: 100%;
        }
      }
    }
  }

  .navLink-active {
    position: relative;

    &::after {
      position: absolute;
      content: " ";
      width: 100%;
      height: 1.5px;
      background-color: $color1;
      bottom: -5px;
      left: 0;
    }
  }
}
.login{
  &:hover{
    .arrow{
      transform: translateX(0);
      animation: arrow .7s linear infinite;
    }
    @keyframes arrow {
      0%{
        transform: translateX(0);
      }
      50%{
        transform: translateX(10px);
      }
      100%{
        transform: translateX(0);
      }
    }
  }
}