.content-pic{
  background: linear-gradient(90deg, #432100 0%, rgba(170, 88, 6, 0.25) 53.12%, rgba(80, 39, 0, 0) 100%);
}
.content-s{
  background: linear-gradient(270deg, #432100 0%, rgba(170, 88, 6, 0.25) 53.12%, rgba(80, 39, 0, 0) 100%);
}
.filter_grayscale {     
  -webkit-filter: grayscale(1);    
  filter: grayscale(1); 
}